version: '{build}'
image: Visual Studio 2017
platform:
- x86
- x64
environment:
  matrix:
  - CONDA: 36
  binstar_token:
    secure: B8Wzum81kOTpEddDZHTpQIA5j8G4XLSNjaWvGyZylvuoG7XFe6AyB9EUwODK+Ru/
install:
- ps: |
    git submodule update -q --init --recursive
    if ($env:CONDA -eq "27") { $env:CONDA = "" }
    if ($env:PLATFORM -eq "x64") { $env:CONDA = "$env:CONDA-x64" }
    $env:PATH = "C:\Miniconda$env:CONDA\;C:\Miniconda$env:CONDA\Scripts\;$env:PATH"
    conda config --set always_yes yes --set changeps1 no
    conda config --add channels conda-forge
    conda update -q conda
    conda install -q conda-build
build_script:
- ps: |
    conda build conda.recipe
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }
    conda install --use-local pynumtools
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode)  }
test_script:
- ps: python -c "import pynumtools"

on_success:
- ps: |
    $env:CONDA_PACKAGE_FILE = $(conda build conda.recipe --output) 2> out-null
    echo "found conda package file $env:CONDA_PACKAGE_FILE"
    conda install anaconda-client -qy
- cmd: anaconda -t %binstar_token% upload -u clonker --force %CONDA_PACKAGE_FILE%
- ps: echo "done"
